    <!--  Footer -->
    <footer class="mt-5 footer-section">
        <div class="mx-auto container p-5">
            <p class="container  footer-text" style="text-align:center">
                All rights reserved to LitVerse.co.
            </p>
        </div>
    </footer>
</body>

</html>