
body{
    background-color: #DCEBFF !important;
  }

p{
  font-size: 1.2rem;
}


input{
  background-color: #DCEBFF !important;

  /* border: solid !important; */
  border-color: black !important;
  border-top-width: 0px !important;
  border-left-width: 0px !important;
  border-right-width: 0px !important;
  border-radius: 0px !important;
}

input:focus{
  box-shadow: none !important;
  border-bottom-color: #4436FF !important;

}

input:focus + label{
  color:#4436FF !important;
}


.navbar{
    background-color: #C4DDFF !important;
}

.navbar-brand{
  font-family: 'Mohave', sans-serif;
  font-size:2.25rem !important;
}

.top{
  font-family: 'Mohave', sans-serif; 
}

.blogContent{
  font-family: 'Roboto', sans-serif !important;
}
.comment-form{
  font-family: 'Mohave', sans-serif;
  background-color: #DCEBFF ;
  border-style: solid !important;
  border-radius: 25px;
  margin-top: 8rem;
}

.comment{
  margin-bottom: 2rem !important;
  border: solid 1px;
  border-radius: 15px;
}

.btn{
  background-color: #DCEBFF !important;
  color: black !important;
  font-size: 1rem !important;
  border-color: black !important;
}

.footer-section{
  background-color: #c2dcff;
}

.footer-text{
  font-size: 1rem;
}

@media (min-width: 1024px){
 .w-div{
   width: 50% !important;
 }
}

